<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group07">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group07">
        <activity android:name=".activities.EditActivity" />
        <activity android:name=".activities.PreLoginActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BrowseActivity" />
        <activity android:name=".activities.ViewActivity"
            android:parentActivityName=".activities.BrowseActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.BrowseActivity" />
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>
</manifest>